{% extends 'main/base.html' %}
{% block content %}

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card" style="width: 24rem;">
            <h3 class="card-header">
                Информация студента
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: {{ object.first_name }}</li>
                <li class="list-group-item">Фамилия: {{ object.last_name }}</li>
                <li class="list-group-item">Почта</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}